:root{
    --backgroundForm: #fff;
    --linkfcb: #00f; 
    --bordell: #dbdbdb;
    --backgroundAll: #fafafa;
    --placeHolder: #8e8e8e;
    --Button: rgb(66, 66, 241);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div, span,form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 14px arial, sans-serif;
    color: #676565;
}

button, a {
    cursor: pointer;
}

body {
    background: var(--backgroundAll);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 900px;

    height: 100vh;

    justify-content: center;
    align-items: center;
}

main aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;

    width: 400px;
    height: 100vh;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 380px;
    height: 100vh;   
}
.accesstate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 380px;
    height: 100vh;   
}

/* form {
    background: var(--backgroundForm);
    border: 1px solid var(--bordell);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 400px;
    margin-bottom: 15px;

    font: 400 14px arial, sans-serif;
} */
.isYou {
    background: var(--backgroundForm);
    border: 1px solid var(--bordell);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 350px;
    margin-bottom: 15px;

    font: 400 14px arial, sans-serif;
}
/* form img {
    width: 180px;
    margin: 15px auto;
    margin-bottom: 8px;
}

form .avatar img{
    border-radius: 50%;
    background: red;
    width: 80px;
    margin: 0;
} */
.isYou img {
    bottom: 10%;
    width: 180px;
    margin: 15px auto;
}

.isYou .avatar img{
    border-radius: 50%;
    background: red;
    width: 80px;
    margin: 10px;
}

/* form .fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .fields .label input {
    background: var(--backgroundAll);

    width: 267px;
    height: 38px;

    border: 1px solid var(--bordell);
    border-radius: 3px;
    outline: none;
}

form .label + .label {
    margin-top: 6px;
}

form .fields + button {
    margin-top: 15px;
}

form button {
    width: 267px;
    height: 36px;

    color: #fff;
    text-transform: capitalize;

    border: none;
    border-radius: 3px;
    background: var(--Button);
} */
.isYou button {
    width: 267px;
    height: 36px;

    color: #fff;

    border: none;
    border-radius: 3px;
    background: var(--Button);
}
.KIGoing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.KIGoing .question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.KIGoing .question a {
    text-decoration: none;
    color: inherit;
    margin: 20px 0;
    color: #39c9fd;
    font-weight: 700;

}


/* form button + .divisor {
    margin-top: 15px;
}

form .facebook {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 20px 0;
    
    color: #385185;
    font-weight: bold;
    text-decoration: none;
} */

/* form .facebook img{
    width: 15px;
    height: 15px;
    margin: 0 8px;
}

form .password {
    font: 700 12px arial;
    color: #385185;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}

form ::placeholder{
    padding-left: 10px;
} */
/* .enroll {
    background: var(--backgroundAll);
    border: 1px solid var(--bordell);
    display: flex;
    align-items: center;
    justify-content: center;

    width: 350px;
    height: 63px;

    font: 300 14px arial, sans-serif;

} */

/* .enroll p a {
    text-decoration: none;
    color: #39c9fd;
    font: 700 14px arial, sans-serif;
} */
.isnot {
    background: var(--backgroundAll);
    border: 1px solid var(--bordell);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 350px;
    height: 63px;

    text-decoration: none;
    color: inherit;
    font: 400 14px arial, sans-serif;
}

.isnot a {
    font: 700 14px arial, sans-serif;
    color: #39c9fd;
    text-decoration: none;
}

.isnot p {
    margin: 3px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons p {
    margin: 20px;
    color: #000;
    font-weight: 700;
}

.buttons .buttonLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons .buttonLink a {
    margin: 0 10px;
}

.buttons .buttonLink a img {
    width: 120px;
    height: 40px;
}